.accessibility-nav {
    z-index:2;position:relative;width:100%;
    a {display:block;overflow:hidden;height:0;text-align:center}
    a:hover,
    a:focus,
    a:active {background:#318de7;padding:.5em;height:auto;color:#fff}
}

.step {
    ol {
        display: flex;
    }
    li {
        width: 25%;background-color: #fff;padding: 15px;
        span {
            font-size: 20px;font-weight: 700;
        }
        strong {
            font-size: 16px;
        }
    }
}

.dep1,
.dep2,
.dep3{display: none;}

.content-header .breadcrumb-item{font-size: 13px;}

input[type=password] {font-family: 'Nanum Gothic';}

input[data-event=rangeDatepicker][readonly]{background-color: #fff;}
input[data-event=singleDatepicker][readonly]{background-color: #fff;}

.custom-control.without-label{margin-right: -0.5rem;margin-bottom: 0;}

.search-simple{margin-top: 2rem;}

.error{display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;height: 100%;
    strong{font-size: 120px;color: #c131df;}
    em{font-style: normal;font-size: 22px;margin-top: 20px;}
    p{font-size: 20px;margin-top: 30px;margin-bottom: 100px;}
    .btn{width: 180px;}
}

#modalPreview .modal-body img{max-height: 630px}